[submodule "smart"]
path = smart
url = https://github.com/JingtianYan/SMART
branch = external-visualisation

[submodule "smart-visualiser"]
path = smart-visualiser
url = https://github.com/spaaaacccee/smart-visualiser
